<div class="page-header">
  <h1>Values Over Time</h1>
</div>
<% if params[:id] %>
  <h3> Graph of <%= link_to("#{params[:id]}", "https://en.wikipedia.org/wiki/#{params[:id]}") %>: </h3>
<% else %>
  <h3> Choose a currency please: </h3>
<% end %>

<%= line_chart @currencies %>
