<div class="page-header">
  <h1>Values Over Time</h1>
</div>
<% if params[:id] %>
  <h3> Graph of <%= link_to("#{params[:id]}", "https://en.wikipedia.org/wiki/#{params[:id]}") %>: </h3>
<% else %>
  <h3> Choose a currency please: </h3>
<% end %>

<%= area_chart @currencies %><br>

<div class="container-fluid">
  <div class="row">
   <div class="col-md-8">
     <div id="messages"></div>
     <input id="chat-input" class="form-control" type="text" placeholder="Start chatting..." autofocus/>
   </div>
  </div>
</div>
