<div class="container-fluid">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("ethereumbitcoin.jpg", class: "d-block w-80 img-fluid") %>
        <div class="carousel-caption d-none d-md-block leitbild-text">
          <h1>Your Personal Crypto Dashboard</h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("Bitcoin.jpg", class: "d-block w-50 img-fluid") %>
        <div class="carousel-caption d-none d-md-block leitbild-text">
          <h1>Bitcoin</h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("ethereum.jpeg", class: "d-block w-50 img-fluid") %>
        <div class="carousel-caption d-none d-md-block leitbild-text">
          <h1>Ethereum</h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("trending.jpeg", class: "d-block w-50 img-fluid") %>
        <div class="carousel-caption d-none d-md-block leitbild-text">
          <h1>Twitter Trend Analysis</h1>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class='container'>
  <div class='row text-left'>
    <div class="row">

      <div class="col-md-4">
        <h3>Bitcoin</h3>
        <p>Bitcoin is a worldwide cryptocurrency and digital payment system called the first decentralized digital currency, as the system works without a central repository or single administrator. It was invented by an unknown person or group of people under the name Satoshi Nakamoto[10] and released as open-source software in 2009. The system is peer-to-peer, and transactions take place between users directly, without an intermediary.[8]:4 These transactions are verified by network nodes and recorded in a public distributed ledger called a blockchain.</p>
      </div>

      <div class="col-md-4">
        <h3>Ethereum</h3>
        <p>Ethereum is an open-source, public, blockchain-based distributed computing platform featuring smart contract (scripting) functionality. It provides a decentralized Turing-complete virtual machine, the Ethereum Virtual Machine, which can execute scripts using an international network of public nodes. Ethereum also provides a cryptocurrency token called "ether", which can be transferred between accounts and used to compensate participant nodes for computations performed. "Gas", an internal transaction pricing mechanism, is used to mitigate spam and allocate resources on the network.</p>
      </div>

      <div class="col-md-4">
        <h3>Twitter Analysis</h3>
        <p>This application is built to look at the impact social media has on the price of Bitcoin and Ethereum coins. Examining the social impact of these coins will help predict future price of each coin. By examining how often each coin is mention on Twitter each day, we'll look to see if social media impacts the price of cryptocurrency.</p>
      </div>

    </div>
  </div>
